@model App.Identity.Models.ForgotPasswordModel
   
@{
    ViewData["Title"] = "ForgotPassword";
}
<h1>Recuperação de senha</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action = "ForgotPassword" method="post" class= "form-horizontal">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-controll"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
            </div>
             <button type="submit" class="btn btn-primary">Submit</button>
             <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>